:root {
    /* font */
    --ff-base: "Open Sans", sans-serif;
    --ff-accent: "Poppins", sans-serif;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-bold: 700;
    /* color */
    /* color general */
    --clr-secondary-200: hsl(321, 100%, 78%);
    --clr-secondary-400: hsl(322, 100%, 66%);
    --clr-tertiary-400: hsl(0, 100%, 63%);
    --clr-primary-800: hsl(192, 100%, 9%);
    --clr-neutral-100: hsl(207, 100%, 98%);
}

/* reset */
/* box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default margin */
* {
    margin: 0;
}

/*  Allow percentage-based heights in the application */
html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

/* tweaking line height */
body {
    line-height: 1.5;
}

/* font smooting */
body {
    -webkit-font-smoothing: antialiased;
}

/* media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* inherit font for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* word wrapping */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* remove text decoration anchor tag */
a {
    text-decoration: none;
    color: inherit;
}

/* remove list style and set default padding*/
ul {
    list-style: none;
    padding: 0;
}

/* utilities */
.grid {
    display: grid;
}

.flex {
    display: flex;
}

/* general styling */
body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    font-size: 1rem;
    background-color: #fff;
    color: var(--clr-primary-800);
}

.wrapper {
    width: min(100% - 3rem, 1200px);
    margin-inline: auto;
    padding-block: 3rem;
}

h1,
h2 {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
}

/* header */
.header__wrapper {
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 12rem;
}

.btn {
    font-size: 0.875rem;

    border-radius: 12rem;
    font-weight: var(--fw-semibold);
}

.btn__secondary {
    color: var(--clr-secondary-400);
    border: 1px solid var(--clr-secondary-400);
    padding: 0.5rem 2rem;
}

.btn__secondary:is(:hover, :focus) {
    color: var(--clr-secondary-200);
    border-color: var(--clr-secondary-200);
}

/* main */
/* hero */
.hero__wrapper {
    text-align: center;
}

.hero__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero__subtitle {
    margin-bottom: 2.5rem;
}

.btn__primary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-secondary-400);
    padding: 0.625rem 3rem;
}

.btn__primary:is(:hover, :focus) {
    background-color: var(--clr-secondary-200);
}

.hero__img {
    margin-top: 4rem;
    margin-inline: auto;
}

/* social proof */
.social__proof__wrapper {
    justify-content: space-around;
    margin-top: 2rem;
}

.card__icon {
    width: 2rem;
}

.number {
    font-family: var(--ff-accent);
    font-weight: var(--fw-bold);
}

.caption {
    color: var(--clr-primary-800);
    opacity: 0.5;
}

/* feature */
.feature__wrapper {
    gap: 4rem;
    align-items: center;
}

.feature__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.feature__subtitle {
    margin-bottom: 2.5rem;
}

.feature-1,
.feature-3 {
    background-color: var(--clr-neutral-100);
}

/* cta */
.cta__wrapper {
    text-align: center;
}
.cta__title {
    font-size: 2.25rem;
    margin-bottom: 2.5rem;
}

/* footer */
.footer {
    background-color: var(--clr-primary-800);
    color: var(--clr-neutral-100);
}

.footer__wrapper {
    gap: 3rem;
}

.news__letter .title {
    margin-bottom: 1rem;
}

.news__letter .paragraph {
    margin-bottom: 2rem;
}

.input__wrapper {
    gap: 2rem;
}

.input__text {
    border: 1px solid var(--clr-neutral-100);
    border-radius: 4px;
    background-color: var(--clr-neutral-100);
    padding: 0.375rem 1rem;
    padding-right: 4rem;
}

.btn__tertiary {
    color: var(--clr-neutral-100);
    background-color: var(--clr-secondary-400);
    padding: 0.625rem 3rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.btn__tertiary:is(:hover, :focus) {
    background-color: var(--clr-secondary-200);
}

.footer__logo,
.footer__text {
    margin-bottom: 2rem;
}

.footer__contact p {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.footer__sm {
    margin-top: 4rem;
    gap: 1rem;
}

.footer__sm i {
    font-size: 1.5rem;
    cursor: pointer;
}

.footer__sm i:is(:hover, :focus) {
    color: var(--clr-secondary-400);
}

@media (min-width: 759px) {
    .hero__subtitle {
        width: 50%;
        margin-inline: auto;
    }

    .number {
        font-size: 5rem;
    }

    .feature__img {
        width: 50%;
    }

    .grow__together,
    .your__user {
        order: -1;
    }

    .curved__bg-1 {
        background-image: url(/images/bg-section-top-desktop-1.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-2 {
        background-image: url(/images/bg-section-bottom-desktop-1.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-3 {
        background-image: url(/images/bg-section-top-desktop-2.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-4 {
        background-image: url(/images/bg-section-bottom-desktop-2.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-5 {
        background-image: url(/images/bg-footer-top-desktop.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* footer */
    .news__letter {
        order: 1;
        width: 50%;
    }
}

@media (max-width: 758px) {
    .wrapper {
        padding-block: 2rem;
    }

    .header__logo {
        width: 8rem;
    }

    .btn__secondary {
        padding: 0.375rem 1.5rem;
    }

    /* main */
    /* hero */
    .hero__title {
        font-size: 1.875rem;
    }

    /* social__proof */
    .social__proof__wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .social__proof__card {
        margin-bottom: 2rem;
    }
    .number {
        font-size: 3rem;
    }

    /* feature */
    .feature__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .feature__title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .curved__bg-1 {
        background-image: url(/images/bg-section-top-mobile-1.svg);
        width: 100%;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-2 {
        background-image: url(/images/bg-section-bottom-mobile-1.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-3 {
        background-image: url(/images/bg-section-top-mobile-2.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-4 {
        background-image: url(/images/bg-section-bottom-mobile-2.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .curved__bg-5 {
        background-image: url(/images/bg-footer-top-mobile.svg);
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .cta__title {
        font-size: 1.75rem;
    }

    /* footer */
    .footer__wrapper {
        flex-direction: column;
        text-align: center;
    }

    .news__letter .title {
        font-size: 1.5rem;
    }

    .input__wrapper {
        flex-direction: column;
    }

    .input__wrapper .btn {
        width: fit-content;
        margin-left: auto;
    }

    .input__text {
        width: 100%;
    }

    .footer__logo {
        margin-inline: auto;
        width: fit-content;
    }

    .footer__sm {
        width: fit-content;
        margin-inline: auto;
    }

    .footer__contact p {
        width: fit-content;
        margin-inline: auto;
    }
}
